.container-home {
    margin: 10px auto;
    width: 600px;
    height: 900px;
    padding: 0.3em;
    background-color: #3a4764;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.display {
    margin: 0.5em;
    padding: 0.5em;
    text-align: right;
    background-color:  #182034;
    color: #fff;
    border-radius: 10px;
}

.display h4{
    font-size: 2.5em;
    color: #aca7a0;
}
.display h3{
    font-size: 3.6em;
}
.keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 8px;
    grid-column-gap: 8px;
    background-color:  #182034;
    border-radius: 10px;
    margin: 0.5em;
    padding: 0.5em;
}
.keyboard button {
    cursor: pointer;
    min-height: 110px;
    box-shadow: 1px 3px 0px #333;
    border-radius: 5px;
    font-size: 3.2em;
    font-weight: 600;
}
/* BUTTONS COLOURS */
.number{
    background: #eae3dc;
    color:#343b4b
}
.operator{
    background: #637097;
    color: #eee;
}
.function{
    background: #d03f2f;
    color: #eee; 
}

/* SPECIALS SIZES */
.reset {
    grid-row: 1;
    grid-column-start: 3;
    grid-column-end: 5;
}
.igual {
    grid-row: 6;
    grid-column-start:3;
    grid-column-end: 5;
}
.cero {
    grid-row: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}
.suma {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column: 4;
}
